---
import AppLayout from "@layouts/AppLayout.astro";
import { Image } from "astro:assets";
import authorImage from "../assets/me.webp";
import technologies from "@data/technologies.json";
import Skill from "@components/Skill.astro";
import { author } from "@data/socials";
---

<AppLayout title="Oscar Aragón - Software Developer">
  <header class="sm:flex sm:items-center sm:justify-between">
    <div class="rounded aspect-square w-40 overflow-hidden inline-flex drop-shadow-none lg:drop-shadow-[0px_0px_35px_rgba(83,70,250,0.90)]">
      <Image
        src={authorImage}
        alt="Image of the author"
        loading="eager"
        width={320}
        height={320}
      />
    </div>
    <div class="mt-8 max-w-lg 2xl:max-w-xl sm:my-0 sm:order-first">
      <h1
        class="mb-2 text-3xl font-bold tracking-tight dark:text-white text-zinc-900 sm:text-4xl"
      >
        {author}
      </h1>
      <p class="mb-4 dark:text-zinc-300 text-zinc-700 flex items-center">
          Desarrollador de software de El Salvador <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.18 38.4" class="inline-block w-6 h-6 ml-2">
          <path d="M0 0h51.18v12.8H0z" fill="#002b7f"/>
          <path d="M0 12.8h51.18v12.8H0z" fill="#ffffff"/>
          <path d="M0 25.6h51.18v12.8H0z" fill="#002b7f"/>
          <circle cx="25.59" cy="19.2" r="5" fill="#fcd116"/>
        </svg>        
      </p>
      <p
        class="max-w-prose font-normal text-sm md:text-lg dark:text-zinc-400 text-zinc-600 sm:max-w-sm md:max-w-xl leading-relaxed"
      >
      Soy un desarrollador apasionado por la creación de soluciones para la web. 
      Siempre estoy aprendiendo nuevas tecnologías y mejorando mis habilidades. 
      Actualmente, trabajo en varios proyectos pero estoy abierto a nuevas oportunidades.
      </p>
    </div>
  </header>
  <section class="mt-10 sm:mt-28" aria-labelledby="section-title">
    <h2
      class="dark:text-zinc-300 text-zinc-700 mb-4 text-2xl font-bold tracking-tight"
      id="section-title"
    >
      Sobre mí
    </h2>
    <p
      class="max-w-prose mb-8 font-normal text-sm md:text-lg dark:text-zinc-400 text-zinc-600 leading-relaxed"
    >
      Estas son algunas de las tecnologías con las que he trabajado y que me
      gustaría seguir aprendiendo:
    </p>
    <ul>
      {Object.entries(technologies).map(([category, techList]) => (
        <li class="flex flex-col mb-8 last:mb-0" key={category} id={category}>
          <h3 class="dark:text-zinc-300 text-zinc-700 mb-4 text-lg font-semibold tracking-tight">
            {category}
          </h3>
          <ul class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-3">
            {techList.map((tech, index) => (
              <Skill key={index} {...tech} />
            ))}
          </ul>
        </li>
      ))}
    </ul>
  </section>
</AppLayout>
